.todo-container {
    width: 100%;
    max-width: 800px;
    padding: 0 30px;
    margin: 32px auto;
  
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    display: flex;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.todo-list li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.todo-list li button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
}

.todo-list li button+button {
    top: 60px;
}

.todo-list li button:hover {
    opacity: 0.6;
}

.todo-list li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414D;
}

.todo-list li p+strong {
    margin-top: 32px;
}

.todo-list li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.btn-add-todo:hover {
    opacity: 0.6;
}

/* NewTodo */

.new-todo-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-todo-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.new-todo-container .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.new-todo-container .content section {
    width: 100%;
    max-width: 380px;
}

.new-todo-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.new-todo-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-todo-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-todo-container .content form {
    width: 100%;
    max-width: 450px;
}

.new-todo-container .content form input {
    margin-top: 8px;
}