#root {
  max-width: 1280px;
  width: 1280px;
  height: 50vh;
  margin: 0 auto;
  border-radius: 50px;
  padding: 2rem;
  text-align: center;
  background-color: rgb(195, 195, 195);
}

input {
  margin-bottom: 10px;
}